/* index.html*/
html {
    background: repeating-linear-gradient(to right,
            #697184,
            #697184, 50px,
            white 50px,
            white 70px);

}

@media screen and (max-width: 800px) {
    .res-nav {
        bottom: 0px;
        top: -25px;
    }
}


body {



    font-family: sans-serif;
    font-size: 16px;
    align-content: center;

}



h1 {
    font-family: fantasy;
    font-size: 70px;
    color: black;

}

h2 {
    font-family: cursive;
    font-size: 26px;
    color: black;
    padding-bottom: 40px;
}

h3 {
    font-family: serif;
    text-align: center;
    font-size: 14px;

    padding-bottom: 10px;

}

p {
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;

    font-size: 1.1em;
}


img {
    width: 500px;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-top: 7px solid white;
    border-right: 7px solid white;

}







header h1 {
    background-color: black;
    opacity: .9;

    filter: alpha(opacity=50);







}


h1 {


    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font: 400 130px/0.8 'Great Vibes',
        Helvetica,
        sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    padding-bottom: 40px;
    border-bottom: 10px solid white;




}

nav {

    background-color: black;

    opacity: .8;

    filter: alpha(opacity=50);

    background-size: cover;
    font-size: 1.1em;
    font-weight: lighter;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;



}



nav ul li {

    display: inline;
    text-transform: uppercase;
    margin-right: 10px;
    letter-spacing: 1px;






}



nav a {


    padding: .5em;
    color: white;
    text-decoration: none;
    border: 5px solid white;
    border-bottom: 7px solid black;
    border-left: 7px solid black;






}

nav a:hover {
    background-color: rgba(255, 255, 255, .5);

}


.main-content {
    text-align: center;
    margin-top: 75px;
    color: white;



}

.main-content a {
    text-align: center;
    color: white;

}




.image-one-text {

    background-color: #413f4d;
    opacity: .9;

    filter: alpha(opacity=50);
    padding-top: 22px;
    padding-bottom: 22px;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    margin-bottom: 3px;

    margin-bottom: 100px;
    margin-top: -3px;
}

.image-two-text {
    background-color: #413f4d;
    opacity: .9;


    padding-top: 22px;
    padding-bottom: 22px;
    color: white;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    margin-bottom: 100px;
    margin-top: -3px;

}

.image-thr-text {
    background-color: #413f4d;
    opacity: .9;

    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    margin-bottom: 3px;
    margin-bottom: 100px;
    margin-top: -3px;

}

.image-thr-text a {
    color: white;
}

.intro {
    margin-top: 400px;
    background-color: #413f4d;
    opacity: .9;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    margin-bottom: 400px;


}

footer img {


    width: 100px;
    border: none;


}

footer {
    background-color: #697184;
    opacity: .9;
    margin-top: 100px;

    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 7px solid black;
    border-bottom: 7px solid black;



}
